DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=u856082912_frbams
DB_USER=u856082912_frbams_app
DB_PASS=FrBAMS_2026!
DB_CHARSET=utf8mb4

JWT_SECRET=FrBAMS2026!
JWT_TTL=86400

APP_ENV=production
APP_URL=https://linen-salmon-143266.hostingersite.com/api
API_PREFIX=/api
FRONTEND_URL=https://linen-salmon-143266.hostingersite.com
